#div1{
    border: 2px solid rgb(47, 101, 114);
    padding: 5% 15% 5% 8%;
}

#inp1{
    height: 45px;
    border: 2px solid rgb(47, 101, 114);
    text-align: center;
}

#inp2{
    height: 45px;
    border: 2px solid rgb(47, 101, 114);
    text-align: center;
}

#unitSelector1{
    width: 189px;
    border: 2px solid rgb(47, 101, 114);
    font-size: 13px;
    padding: 1% 0% 1% 0%;
    background-color: rgb(47, 101, 114);
}

#unitSelector2{
    width: 189px;
    border: 2px solid rgb(47, 101, 114);
    font-size: 13px;
    padding: 1% 0% 1% 0%;
    background-color: rgb(47, 101, 114);
}

#formP{
    font-size: 13px;
}

#spanP{
    background-color: rgb(249, 171, 0);
    color: white;
    padding: 1% 3%;
}

.container{
    padding: 5% 15%;
}

#div2{
    text-align: center;
    margin-top: 20px;
}

#div3{
    margin-top: 20px;
    padding-left: 15px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

#p2{
    text-align: center;
    font-size: 15px;
}